<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<style>
    .text-white{
        color:white
    }
</style>


<body style="background-color:black">
    <nav class="navbar" style="background-color:#00a65a">
        <p class="navbar-brand">My Book Recommnedation</p>

        <ul class="nav navbar-nav">
            <li><a> Home </a></li>
            <li><a> Recommender </a></li>
            <li><a> Contacts </a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-white" style="font-size:50px"> Top 50 Books </h1>
            </div>

            <div class="col-md-3" style="margin-top:50px margin-right:50px">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" height="250" width="200" src="http://images.amazon.com/images/P/0439139597.01.MZZZZZZZ.jpg">
                        <h3 class="text-white"> Harry Potter </h3>
                        <p class="text-white"> j K Rowling </p>
                        <p class="text-white"> Voting - 300 </p>
                        <p class="text-white"> Rating - 9.0 </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="margin-top:50px margin-right:50px">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" height="250" width="200" src="http://images.amazon.com/images/P/0439139597.01.MZZZZZZZ.jpg">
                        <h3 class="text-white"> Harry Potter </h3>
                        <p class="text-white"> j K Rowling </p>
                        <p class="text-white"> Voting - 300 </p>
                        <p class="text-white"> Rating - 9.0 </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="margin-top:20px margin-right:30px">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" height="250" width="200" src="http://images.amazon.com/images/P/0439139597.01.MZZZZZZZ.jpg">
                        <h3 class="text-white"> Harry Potter </h3>
                        <p class="text-white"> j K Rowling </p>
                        <p class="text-white"> Voting - 300 </p>
                        <p class="text-white"> Rating - 9.0 </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="margin-top:50px margin-right:50px">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" height="250" width="200" src="http://images.amazon.com/images/P/0439139597.01.MZZZZZZZ.jpg">
                        <h3 class="text-white"> Harry Potter </h3>
                        <p class="text-white"> j K Rowling </p>
                        <p class="text-white"> Voting - 300 </p>
                        <p class="text-white"> Rating - 9.0 </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="margin-top:50px margin-right:50px">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" height="250" width="200" src="http://images.amazon.com/images/P/0439139597.01.MZZZZZZZ.jpg">
                        <h3 class="text-white"> Harry Potter </h3>
                        <p class="text-white"> j K Rowling </p>
                        <p class="text-white"> Voting - 300 </p>
                        <p class="text-white"> Rating - 9.0 </p>
                    </div>
                </div>
            </div>


        </div>
    </div>

</body>
</html>